:root {
  --standard-text-color: #4B0082;
  --standard-background-color: #E6E6FA;

  --highlight-color: #8800ff;
  --mild-color: #8400ff21;
}

@font-face {
  font-family: 'Cyberthrone';
  src: url('./fonts/Cyberthrone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--standard-background-color);
  color: var(--standard-text-color);
}

#header {
  padding: 3rem;
}

#content {
  padding: 2rem 3rem 5rem;
  min-height: 50vh;
}

#footer {
  padding: 3rem;
}

#lists {
  gap: 2rem;
  .list-title{
    font-size:3rem;
    color: var(--highlight-color);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -3rem;
    padding: 0 1rem;
    transform: rotate(-20deg); 
  }
  .list {
    background-color: #fff;
    min-width: 200px;
    min-height: 300px;
  }
}

/* Utilities */
.color-muted {
  color: #6c757d;
}
.display-flex {
  display: flex;
}
.flex-grow-1 {
  flex-grow: 1;
}
.rounded-corners {
  border-radius: 0.25rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
.border-mild {
  border: 1px solid var(--mild-color);
}
.font-pop {
  font-family: "Cyberthrone", serif;
  letter-spacing: 0.2rem;

}