:root {
  --body-text-color: #4B0082;
  --body-background-color: #E6E6FA;
  --bright-background-color: #fff;

  --highlight-color: #8800ff;
  --mild-color: #8400ff21;
  --contrast-color: #EEE8AA;

  --rounded-corner: 0.25rem;
  --font-chunky: "Bungee", sans-serif;
  --font-pop: "Cyberthrone", serif;

  --primary-button-background-color: #0b59f5;
  --primary-button-text-color: #ffffff;
  --primary-button-border-color: #084fdc;
  --primary-button-hover-color: #073ead;
  --primary-button-click-color: #063084;
}

@font-face {
  font-family: 'Cyberthrone';
  src: url('./fonts/Cyberthrone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header {
  padding: 1rem 3rem 1rem;
  background: var(--bright-background-color);
  border-bottom: 1px solid var(--mild-color);
}

#logo-slay {
  transform: rotate(-20deg); 
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--highlight-color);
}

#logo-week{
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: -2rem;
}

#content {
  padding: 3rem 3rem 5rem;
  min-height: 50vh;
}

#footer {
  padding: 3rem;
}

#new-todo {
  margin-bottom: 5rem;
  input[type="text"] {
    padding: 0 1rem;
    font-size: 1.25rem;
    border: 1px solid var(--mild-color);
    border-radius: 0.25rem;
    height: 100%;
  }
  .input-button-wrapper {
    height: 3rem;
  }
}

#lists {
  gap: 2.5rem;
  .list-title{
    font-size: 3rem;
    color: var(--highlight-color);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -2rem;
    padding: 0 1rem;
    transform: rotate(-5deg); 
    margin-bottom: 1rem;
    width: 200px;
  }
  .list {
    background-color: var(--bright-background-color);
    min-width: 200px;
    min-height: 300px;
    .list-item {
      margin-left: 1rem;
      padding: 0.5rem 0;
      border-bottom: 1px solid var(--mild-color);
    }
    :last-child {
      border-bottom: none;
    }
  }
}

/* Utilities */
.color-muted {
  color: #6c757d;
}
.display-flex {
  display: flex;
}
.flex-grow-1 {
  flex-grow: 1;
}
.rounded-corners {
  border-radius: var(--rounded-corner);
}
.flex-wrap {
  flex-wrap: wrap;
}
.border-mild {
  border: 1px solid var(--mild-color);
}
.border-contrast {
  border: 1px solid var(--contrast-color);
}
.font-pop {
  font-family: var(--font-pop);
  letter-spacing: 0.25rem;
}
.font-chunky {
  font-family: var(--font-chunky);
}
.flex-between {
  justify-content: space-between;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.grab {
  cursor: grab;
}
.height-100 {
  height: 100%;
}
.primary-button {
  background-color: var(--primary-button-background-color);
  color: var(--primary-button-text-color);
  border: 1px solid var(--primary-button-border-color); 
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--rounded-corner);
  font-family: var(--font-chunky);
  padding: 1rem;
}

.primary-button:hover {
  background-color: var(--primary-button-hover-color);
}

.primary-button:active {
  background-color: var(--primary-button-click-color);
}

.input-button-wrapper {
  input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
  }
  button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}